button {
  margin-bottom: 4rem;
  width: 45%;
  display: block;
  padding: 0.6rem;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label,
input {
  text-align: center;
  display: flex;
  margin-right: 1rem;
  font-size: 1rem;
  width: 200px;
}

label {
  margin-top: 2rem;
}

th,
td {
  padding: 15px;
}

td button {
  padding: 0;
  width: 100%;
  font-size: 0.75rem;
  margin-top: 3rem;
}

table {
  width: 70%;
}
