.green {
  color: rgb(6, 187, 6);
  text-shadow: 1px 1px rgb(4, 68, 4);
}

.orange {
  color: rgb(223, 154, 27);
  text-shadow: 1px 1px rgb(99, 65, 1);
}

.red {
  color: red;
  text-shadow: 1px 1px rgb(110, 19, 19);
}

a {
  color: black;
  text-decoration: none;
}

.budget-displayed {
  width: 100%;
}
