html {
  font-size: 16px;
  font-family: 'Neuton', serif;
  background-color: tan;
  padding: 2rem;
}

h1,
h2 h3,
h4,
h6 {
  font-family: 'Merriweather', serif;
}

h1 {
  text-align: center;
  font-size: 1rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  text-align: center;

  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
  text-align: center;
}

h6 {
  font-size: 1.5rem;
  text-align: center;
}

.divider {
  font-size: 40px;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

label,
input {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

label {
  font-family: 'Merriweather', serif;
}

input,
select {
  display: inline-block;
  padding: 0.25rem;
  width: 100%;
  font-family: 'Neuton', serif;
  margin-top: 0.25rem;
}

select {
  font-size: 1.1rem;
}

form {
  width: 65%;
  margin: auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

button {
  width: 62%;
  margin: auto;
  margin-top: 1rem;
  padding: 0.6rem;
  font-family: 'Merriweather', serif;
  font-size: 0.75rem;
}

table {
  text-align: center;
  background-color: rgb(126, 89, 89);
  margin: auto;
  font-size: 1rem;
}

table,
th,
td {
  border: 1px solid rgb(53, 52, 52);
  padding: 1%;
}

th {
  background-color: rgb(236, 162, 162);
  color: black;
}

tr:nth-child(even) {
  background-color: rgb(160, 89, 89);
}
