html {
  font-size: 16px;
  font-family: 'Neuton', serif;
  background-color: tan;
  padding: 2rem;
  text-align: center;
}

h1,
h2 h3,
h4,
h6 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
  padding-top: 2rem;
}

h4 {
  font-size: 2.5rem;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

h5 {
  margin-top: 1rem;
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

.divider {
  font-size: 40px;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

label,
input {
  font-size: 1.25rem;
}

label {
  font-family: 'Merriweather', serif;
}

input,
select {
  display: inline-block;
  padding: 0.25rem;
  width: 100%;
  margin-top: 0.25rem;
}

select {
  font-size: 1.1rem;
}

form {
  width: 65%;
  margin: auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

button {
  width: 50%;
  padding: 0.6rem;
  margin: auto;
  margin-top: 1.75rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

table {
  text-align: center;
  background-color: rgb(126, 89, 89);
  margin: auto;
}

table,
th,
td {
  border: 1px solid rgb(53, 52, 52);
  padding: 1%;
}

th {
  background-color: rgb(236, 162, 162);
  color: black;
}

tr:nth-child(even) {
  background-color: rgb(160, 89, 89);
}

label {
  margin-top: 2rem;
}

td button {
  padding: 0;
  width: 100%;
  font-size: 0.75rem;
  margin-top: -3rem;
  background: transparent;
  border-style: none;
  margin-top: 2rem;
}

td input,
td label {
  font-size: 0.75rem;
  margin-top: 1.5rem;
}
